.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.poster {
  width: 100%;
  aspect-ratio: 9/16;
  border-radius: var(--border-radius);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  height: 20px;
  width: 80%;
  border-radius: 4px;
}

.meta {
  height: 16px;
  width: 50%;
  border-radius: 4px;
}
