.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 160px;
}

.poster {
  width: 160px;
  height: 220px;
  border-radius: var(--border-radius);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  height: 20px;
  width: 80%;
  border-radius: 4px;
}

.meta {
  height: 16px;
  width: 50%;
  border-radius: 4px;
}

@media (max-width: 480px) {
  .card {
    width: 96px;
  }
  .poster {
    width: 96px;
    height: 134px;
  }
}
